/* =========================================================
 * Typography
 * ========================================================= */

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}

textarea, select, input, button {
	font-family: 'Source Sans Pro', sans-serif;
}
.main-nav a, .subscribe-button, .page-title, .post-meta {
	font-family: 'Source Sans Pro', sans-serif;
}
a {
	transition: color 0.2s ease;
}
/* =========================================================
 * Animated reading progress
 * ========================================================= */
.progress-container {
	position: fixed;
	width: 100%;
	height: 3px;
	left: 0;
	top: 0;
	z-index: 1000;
	background: transparent;
	transition: opacity ease-out 1s;
}
.progress-container.ready {
	opacity: 0.2;
}
.progress-bar {
	display: block;
	width: 0;
	height: 3px;
	background: #e71d36; #f26a3d;
}

/* =========================================================
 * Blog menu button
 * ========================================================= */

.menu-button {
    padding: 0 1.8em;
    border-width: 1px;
    font-size: 14px;
    border-radius: 2em;
    transition: all 0.22s ease;
		font-weight: 900;
}
.menu-button:before {
    font-size: 12px;
    font-weight: bold;
    margin-right: 6px;
    position: relative;
    top: 1px;
}
.menu-button:hover, .menu-button:focus { padding: 0 2.1em; }
.menu-button:focus {
    outline: 0;
}

@media only screen and (min-width: 900px) {
    .blog-logo {
      position: fixed;
      top:30px;
      left: 30px;
    }
    .menu-button {
      position: fixed;
      top: 30px;
      right: 30px;
    }
}
.nav-closed .menu-button:hover {
    color: #222;
    border-color: #222;
}
.cover-active .menu-button:hover {
    background: #fff;
}

.cover-active .nav-closed .menu-button {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.6);
}
 .cover-active .nav-closed .menu-button:hover {
    color: #222;
}

/* When the navigation is closed */
.nav-closed .menu-button {
    color: #222;
    color: #8a9199;
    border-color: rgba(0, 0, 0, 0.6);
    border-color: #c2c7cc
}

/* When the navigation is closed and there is no cover image */
.nav-closed .no-cover .menu-button {
    border-color: #BFC8CD;
    color: #9EABB3;
}
.nav-closed .no-cover .menu-button:hover {
    border-color: #555;
    color: #555;
}

/* When the navigation is opened */
.nav-opened .menu-button {
    display: none;
    visibility: hidden;
    /*padding: 0 12px;
    background: #111;
    border-color: #111;
    color: #fff;
    -webkit-transform: translate3D(94px, 0, 0);
        -ms-transform: translate3D(94px, 0, 0);
            transform: translate3D(94px, 0, 0);
    transition: all 0.3s ease;*/
}

.nav-opened .menu-button .word {
    opacity: 0;
    transition: all 0.3s ease;
}

/* Special styles when overlaid on an image*/
.main-nav.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    border: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}
.no-cover .main-nav.overlay {
    background: none;
}

/* =========================================================
 * Blog side menu
 * ========================================================= */
body.nav-opened .nav-cover { right: 270px; }
body.nav-opened .site-wrapper {
		-webkit-transform: translate3D(-270px, 0, 0);
    -ms-transform: translate3D(-270px, 0, 0);
    transform: translate3D(-270px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}

 .nav {
	 background: #f5f8fa;
	 width: 269px;
	 border-left: 1px solid #e9eff3;
 }

 .nav .nav-title {
	font-size: 2.2rem;
	letter-spacing: 0.03rem;
	font-weight: 900;
	color: #111;
	left: 24px;
	top: 42;
 }
 .nav li:before {
	 display: none;
	 visibility: hidden;
 }

.nav li a {
	border-left: 4px solid transparent;
	font-size: 1.9rem;
	font-weight: 900;
	color: #111;
}
.nav li a:after { display: none; }
.nav li a:hover {
	color: #111;
}
.nav a:link, .nav a:visited { color: #111; }
.nav li.nav-current a, .nav a:hover, .nav a:active, .nav a:focus {
	border-left-color: #111;
	color: #111;
}
.nav-close:before, .nav-close:after { height: 3px; background: #222; }
.nav-close:hover:before, .nav-close:hover:after { background: #000; }

/* =========================================================
 * Article animated links
 * ========================================================= */
.post-content a {
  color: #e71d36;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.post-content a:after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e71d36;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}
 .post-content a:hover:after,
 .post-content a:focus:after,
 .post-content a:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

/* =========================================================
 * Article Page
 * ========================================================= */
