.hover-fade {
	-webkit-transition: opacity 200ms cubic-bezier(0.42, 0, 0.585, 1);
  -webkit-transition: opacity 200ms cubic-bezier(0.42, 0, 0.585, 1.23);
  -moz-transition: opacity 200ms cubic-bezier(0.42, 0, 0.585, 1.23);
  -ms-transition: opacity 200ms cubic-bezier(0.42, 0, 0.585, 1.23);
  -o-transition: opacity 200ms cubic-bezier(0.42, 0, 0.585, 1.23);
  transition: opacity 200ms cubic-bezier(0.42, 0, 0.585, 1.23);
  -webkit-transform: translateZ(0);
}
/* =========================================================
 * Typography
 * ========================================================= */

 ::-moz-selection { /* Code for Firefox */
     color: #fff;
     background: #222;
 }

 ::selection {
     color: #fff;
     background: #222;
 }

body {
	text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -webkit-font-smoothing: antialiased;

	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 2.2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Bebas Neue', sans-serif;*/
	font-weight: bold;
	letter-spacing: 0.02rem;

	color: #111;
}

textarea, select, input, button {
	font-family: 'Source Sans Pro', sans-serif;
}
.main-nav a, .subscribe-button, .page-title, .post-meta {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	color: #111;
	transition: color 0.2s ease;
}

pre {
	background: #fafafa;
	border: 1px solid #f2f2f2;
}
/* =========================================================
 * Page header
 * ========================================================= */
 .page-title {
	 position: relative;
	 z-index: 1;
 }

.page-description {
	color: rgba(255,255,255,0.99);
	text-shadow: 0px 2px 2px rgba(20, 20, 20, 0.4);
}

/* =========================================================
 * Animated reading progress
 * ========================================================= */
.progress-container {
	position: fixed;
	width: 100%;
	height: 3px;
	left: 0;
	top: 0;
	z-index: 1000;
	background: transparent;
	transition: opacity ease-out 1s;
}
.progress-container.ready {
	opacity: 0.2;
}
.progress-bar {
	display: block;
	width: 0;
	height: 3px;
	background: #e71d36; #f26a3d;
}

/* =========================================================
 * Blog menu button
 * ========================================================= */

.menu-button {
    padding: 0 1.8em;
    border-width: 1px;
    font-size: 14px;
    border-radius: 2em;
    transition: all 0.22s ease;
		font-weight: 900;
}
.menu-button:before {
    font-size: 12px;
    font-weight: bold;
    margin-right: 6px;
    position: relative;
    top: 1px;
}
.menu-button:hover, .menu-button:focus { padding: 0 2.1em; }
.menu-button:focus {
    outline: 0;
}

@media only screen and (min-width: 900px) {
    .blog-logo {
      position: fixed;
      top:30px;
      left: 30px;
    }
    .menu-button {
      position: fixed;
      top: 30px;
      right: 30px;
    }
}
.nav-closed .menu-button:hover {
    color: #222;
    border-color: #222;
}
.cover-active .menu-button:hover {
    background: #fff;
}

.cover-active .nav-closed .menu-button {
    background: #fff;
		color: #111;
    border-color: rgb(255, 255, 255);
}
 .cover-active .nav-closed .menu-button:hover {
    color: #222;
}

/* When the navigation is closed */

.nav-closed .menu-button {
    color: #222;
    color: #8a9199;
    border-color: rgba(0, 0, 0, 0.6);
    border-color: #c2c7cc
}

/* When the navigation is closed and there is no cover image */
.nav-closed .no-cover .menu-button {
    border-color: #BFC8CD;
    color: #9EABB3;
}
.nav-closed .no-cover .menu-button:hover {
    border-color: #555;
    color: #555;
}

/* When the navigation is opened */
.nav-opened .menu-button {
    display: none;
    visibility: hidden;
    /*padding: 0 12px;
    background: #111;
    border-color: #111;
    color: #fff;
    -webkit-transform: translate3D(94px, 0, 0);
        -ms-transform: translate3D(94px, 0, 0);
            transform: translate3D(94px, 0, 0);
    transition: all 0.3s ease;*/
}

.nav-opened .menu-button .word {
    opacity: 0;
    transition: all 0.3s ease;
}

/* Special styles when overlaid on an image */
.main-nav.overlay {
		z-index: 1;
		position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    border: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}
.no-cover .main-nav.overlay {
    background: none;
}

/* =========================================================
 * Blog side menu
 * ========================================================= */
body.nav-closed .nav {
 -webkit-transform: translate3D(400px, 0, 0);
 -ms-transform: translate3D(400px, 0, 0);
 transform: translate3D(400px, 0, 0);
}

body.nav-opened .nav-cover {
	right: 0;
	background: rgba(0,0,0,0.5)
 }
body.nav-opened .site-wrapper {
		-webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
}

 .nav {
	 text-align: right;
	 background: #111;
	 width: 400px;
	 z-index: 1023;
 }

 .nav .nav-title {
	font-size: 2.2rem;
	letter-spacing: 0.03rem;
	font-weight: 900;
	left: 24px;
	top: 42;
 }
 .nav li:before {
	 display: none;
	 visibility: hidden;
 }

.nav li a {
	font-size: 4vw;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
}

.nav li a:after { display: none; }
.nav li a:hover {
	color: #fff;
	opacity: 0.5;
}
.nav a:link, .nav a:visited { color: #fff; }

.nav-close { right: 7rem; }
.nav-close:before, .nav-close:after {
	height: 3px;
	background: #fff;
	-webkit-transition: opacity 200ms cubic-bezier(0.42, 0, 0.585, 1);
  -webkit-transition: opacity 200ms cubic-bezier(0.42, 0, 0.585, 1.23);
  -moz-transition: opacity 200ms cubic-bezier(0.42, 0, 0.585, 1.23);
  -ms-transition: opacity 200ms cubic-bezier(0.42, 0, 0.585, 1.23);
  -o-transition: opacity 200ms cubic-bezier(0.42, 0, 0.585, 1.23);
  transition: opacity 200ms cubic-bezier(0.42, 0, 0.585, 1.23);
}
.nav-close:hover:before, .nav-close:hover:after { opacity: 0.5 }


/* =========================================================
 * Blog index page header
 * ========================================================= */
.home-template .main-header:before, .archive-template .main-header:before {
	content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.2);
}

.main-header .vertical { position: relative; }
.scroll-down { color: rgb(255,255,255) }

.home-template .page-title { font-size: 7rem }
/* =========================================================
 * Article animated links
 * ========================================================= */
.post-content a {
  color: #e71d36;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.post-content a:after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e71d36;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}
 .post-content a:hover:after,
 .post-content a:focus:after,
 .post-content a:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

/* =========================================================
 * Article Page
 * ========================================================= */

 .main-header.post-head:not(.no-cover)::before {
	 z-index: 1;
   content: " ";
   display: block;
   height: 200px;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
   background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
   background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
   background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
   -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
   -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
   -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
   -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
   transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
 }

	.post-footer h4 {
		font-size: 2rem;
	}
 .author-image {
	 top: -62px;
	 padding: 5px;
 }
